@tailwind base;
@tailwind components;
@tailwind utilities;
@import './modules/reset';
@import './modules/variables';

*::-webkit-scrollbar-track {
  @apply hidden
}

::-webkit-scrollbar {
  @apply w-[3px] h-[3px];
}

::-webkit-scrollbar-thumb {
  @apply rounded-[20px] bg-primary
}

html, body {
  @apply h-full;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px; 
  background: #ffffff; 
  border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff; 
  border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #152242; 
  border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  @apply box-border;
  background: #F3F3F3 !important;

}

.leaflet-control{
  z-index: auto !important;
}

input:focus {
  outline: none; 
  border: none; 
}
