@tailwind base;
@tailwind components;
@tailwind utilities;
@import './modules/reset';
@import './modules/variables';

*::-webkit-scrollbar-track {
  @apply hidden
}

::-webkit-scrollbar {
  @apply w-[3px] h-[3px];
}

::-webkit-scrollbar-thumb {
  @apply rounded-[20px] bg-primary
}

html, body {
  @apply h-full;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px; 
  background: #ffffff; 
  border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff; 
  border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #152242; 
  border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  @apply box-border;
  background: #F3F3F3 !important;

}

.leaflet-control{
  z-index: auto !important;
}

input:focus {
  outline: none; 
  border: none; 
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.shake {
  animation: shake 0.4s ease;
}

/* Скрыть иконку Google */
#google_language_element .goog-logo-link {
  display: none !important;
}

/* Убрать рамки и отступы у выпадающего меню */
#google_language_element .goog-te-combo {
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
  font-size: inherit !important;
  color: inherit !important;
}
#google_language_element select.goog-te-combo {
  display: none !important;

}
